version: '3.8'

services:
  backend:
    build: ./backend
    container_name: horizons_web_back
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      TIMEZONE: "Europe/Moscow"
      ORIGINS: 
    networks:
      - test_conn

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "8888:3306"
    volumes:
      - tmk_db_data:/var/lib/mysql
    networks:
      - test_conn

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8070:80"
    environment:
      PMA_HOST: db
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
    networks:
      - test_conn

  frontend:
    build:
      context: ./horizonts
    container_name: horizons_web_front
    depends_on:
      - backend
    networks:
      - test_conn

  db_filler:
    build: ./scripts
    container_name: horizons_db_filler
    depends_on:
      - db
    environment:
      - TZ=Europe/Moscow
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_PORT=${MYSQL_PORT}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    command: ["sh", "-c", "sleep 15 && poetry run python main.py"]
    networks:
      - test_conn

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "3000:80"
    depends_on:
      - frontend
      - backend
    networks:
      - test_conn

volumes:
  tmk_db_data: 

networks:
  test_conn:
    driver: bridge
