version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: horizons_stat
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "8888:3306"
    volumes:
      - db_data_new:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: user
      PMA_PASSWORD: userpassword

volumes:
  db_data_new:
